html{
    font-family: "Gowun Batang", serif;
    font-size: clamp(1rem, calc(0.5rem + 2vw), 1.625rem);
}
a{
    color: black;
    text-decoration: none;
}
header nav ul li{
    text-align: left;
    padding: 5vw 5vw 5vw 5vw;
    border-bottom: 1px solid gray;
}
section.inicio{
    text-align: center;
}
section.inicio div.naosei{
    background-color: #f6f0e6;
    border-radius: 5vw;
    padding: 5vw;
    margin: 5vw;
    font-weight: 500;
    font-size: 1.5rem;
}
section.inicio h1{
    font-size: 2rem;
    font-weight: 500;
    padding: 5px;
    margin: 5vw;
}
section.inicio p a{
    text-decoration: underline;
}
section.inicio img{
    margin: 7vw;
}
section.iniciodois{
    text-align: center;
}
section.iniciodois h2{
    font-size: 2rem;
    font-weight: 500;
    padding: 5px;
    margin: 7vw;
}
section.iniciodois h3{
    font-size: 1rem;
    font-weight: 500;
    padding: 5px;
    margin: 7vw;
}
section.iniciodois h4{
    font-size: 1.5rem;
    margin: 7vw;
}
section.iniciodois ul li p{
    font-weight: 500;
}
section.iniciodois img{
    margin: 10vw;
}
section.news div.lincoln img{
    margin: 10vw;
    padding: 10vw;
}
section.news {
    text-align: center;
}
section.news ul li.pessoa{
    border: 1px solid gray;
    border-radius: 12px;
    padding: 16px;
    background: #fff;
    margin: 10vw 10vw 10vw 10vw;
}
section.news ul li.pizza{
    border: 1px solid gray;
    border-radius: 12px;
    padding: 16px;
    background: #fff;
    margin: 10vw 10vw 10vw 10vw;
}
section.news ul li.john{
    border: 1px solid gray;
    border-radius: 12px;
    padding: 16px;
    background: #fff;
    margin: 10vw 10vw 10vw 10vw;
}
section.news ul li.pessoa h3{
    font-size: 1.5rem;
}
section.news ul li.john h3{
    font-size: 1.5rem;
    margin: 10px;
}
section.news ul li.john p{
    margin: 10px;
    color: #5b5b5b;
}
section.news ul li.pessoa p{
    margin: 10px;
    color: #5b5b5b
}
section.news ul li.john h4{
    margin: 10px;
    font-weight: 600;
}
section.news ul li.pessoa h2{
    margin: 10px;
    font-weight: 600;
}
section.news h6{
    text-align: center;
    font-size: 2rem;
}
section.results h2{
    font-size: 250%;
}
section.results p{
    margin: 10vw 5vw 10vw 5vw;
    color: #5b5b5b
}
section.results ul.pr li h3{
    margin: 5vw 5vw 5vw 5vw;
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
}
section.results ul.pr li h4{
    text-align: center justify;
    margin: 40px;
    font-size: 1.5rem;
    border-left: 2px solid #6f6f6f;
    padding-left: 10px;
}
section.results ul.se li h3{
    margin: 5vw 5vw 5vw 5vw;
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
}   
section.results ul.se li h4{
    text-align: center justify;
    margin: 40px;
    font-size: 1.5rem;
    border-left: 2px solid #6f6f6f;
    padding-left: 10px;
}
section.results ul li.melissa img{
    text-align: center;
    max-width: 100%;
}
footer{
    background-color: #5b5b5b;
    color: white;
}
footer h3{
    margin: 5vw;
}
footer ul{
    margin: 5vw;
}
footer p {
    padding: 5vw 5vw 5vw 5vw;
    font-size: small;
}
