html{
    font-size: clamp(1rem, calc(0.7rem + 1vw), 1.625rem);
}                                                        
h1, h2, h3, h4, h5{
    font-family: "Playfair Display", sans-serif;
}      
header{
    text-align: center;
    padding: 5vw 0 0 0;
}   
header nav ul li.yellow-font a{
    color: #FBBC05;
}
header nav ul li.button-yellow a{
    background-color: #FBBC05;
    color: white;
    border-radius: 10px;
    padding: 8px 16px 8px 16px;
    display: inline-block;
    margin: 1vw;
    font-weight: 600;
}  

@media only screen and (min-width: 600px) {
    header{
        padding: 2vw 5vw 2vw 5vw;
    }
    header nav{
        display: flex;
        justify-content: space-between;
    }
    header nav ul{
        display: flex;
        gap: 20px;
        align-items: center;
    }
    header nav ul li.button-yellow{
        margin: 0;
    }
} 